<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="fix-header card-no-border logo-center">

<div id="main-wrapper">

<header th:replace="layout/layout :: header"></header>
<aside th:replace="layout/layout :: aside"></aside>



<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor" th:text="'Información de la CXC'"></h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)" th:href="@{/cxc/}" th:text="#{txt.inicio}"></a></li>
                <li class="breadcrumb-item active" th:text="'Información de la CXC'"></li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                    
                    	<form id="formAddCliente" autocomplete="off" th:action="@{/cxc/new}" th:object="${cxc}" method="post">
                           <div class="form-body">

								 <div class="row p-t-20">
								 
								 	
		                            
		                            <div class="col-md-4">
		                                <div class="form-group">

		                                   <label class="control-label">Buscar el cliente</label>
	                                       <input type="hidden"  th:field="*{cliente}" id="inputClientesHidden" name="receptor" />
	                                       <input type="search" id="inputBuscarClientes" onclick="return this.select();"  class="form-control" placeholder="Digite el nombre del cliente o la identificación" required>

		                              	</div>
		                             </div>
		                             
		                             <div class="col-md-2">
		                                <div class="form-group">
		                                    <label class="control-label"><i class="fas fa-asterisk color-rojo"></i>Número factura</label>
		                                    <input type="text" maxlength="80" class="form-control" th:field="*{numeroFactura}" required="required">
		                              	</div>
		                             </div>		
		                             <div class="col-sm-2 col-md-1">
	                                    <div class="form-group">
	                                       <label class="control-label">Moneda</label>
	                                       <select class="form-control _select2_" th:field="*{moneda}" required="required">
	                                          <option value="CRC" selected="selected">CRC</option>
	                                          <option value="USD">USD</option>
	                                       </select>
	                                    </div>
	                                 </div>
		                             
		                             <div class="col-md-2">
		                                <div class="form-group">
		                                    <label class="control-label"><i class="fas fa-asterisk color-rojo"></i>Deuda</label>
		                                    <input type="text" maxlength="20" onclick="return this.select();" class="form-control" th:field="*{totalDeuda}" required="required">
		                              	</div>
		                             </div>
		                             <div class="col-md-2">
		                                <div class="form-group">
		                                    <label class="control-label"><i class="fas fa-asterisk color-rojo"></i>Plazo crédito (días)</label>
		                                    <input type="text" maxlength="10" placeholder="Digite los días" class="form-control" th:field="*{plazoCredito}" required="required">
		                              	</div>
		                             </div>

								      
								  </div>

								    
								    <div  class="form-actions">
								    	
								    	<p class="color-rojo"><i class="fas fa-asterisk color-rojo"></i> [(#{txt.campos.requeridos})]</p>
								    	
		                                 <button type="submit" class="btn btn-success"> 
		                                 	<i class="fas fa-save"></i>&nbsp;<span th:text="#{btn.guardar}"></span>
		                                 </button>
		                                 <a th:href="@{/cxc/}" class="btn btn-inverse" style="color:#FFF !important">
		                                 	<i class="fas fa-chevron-left"></i>&nbsp; <span th:text="#{txt.btn-regresar}"></span>
		                                 </a>
		                            </div>


                             </div>
                         </form>  
                         
                    </div>
                </div>
            </div>
            
            
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer th:replace="layout/layout :: footer"></footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
    <input id="csrfToken" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->

</div>
<div th:replace="layout/layout :: scripts"></div>
<script type="text/javascript">
var token = $('#csrfToken').val();

$("#inputBuscarClientes").autocomplete({
 	source : function(request, response) {
 		$.ajax({
 			url : "[(@{/proformas/buscar-clientes/})]" + request.term, 
 			dataType : "json",
 			beforeSend: function () {
              	 loadingShow();
            },
            data : {
 				term : request.term,
 				td   : "FE"
 			},
 			success : function(data) {
 				response($.map(data, function(item) {
 					return { 
 						value              : 'Identificación: ' + item.identificacion + ', Cliente: ' + item.nombreCompleto,
 						valuePrincipal     : item.id,
 						tipoIdentificacion : item.tipoDeIdentificacion.id,
 						label              : 'Identificación: ' + item.identificacion + ', Cliente: ' + item.nombreCompleto,
 					};
 				}));
 			},
 			complete: function () {
           	 loadingHide();
            }
 		});
 	},
 	//autoFocus:true,
 	delay:250,
 	focus : function(event, ui) {
 		event.preventDefault();
 		$("#inputBuscarClientes").val(ui.item.value);
 		$("#inputClientesHidden").val(ui.item.valuePrincipal);
 		$("#inputClientesTipoIdentificacionHidden").val(ui.item.tipoIdentificacion);
 	}
 	
 });

</script>



</body>
</html>