<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}" />
    <title>Sistema de Facturación Electrónica</title>

	<link rel="icon" href="../images/favicon.png" type="image/png" />
	<!--plugins-->
	<link href="../plugins/simplebar/css/simplebar.css" rel="stylesheet" type="text/css" />
	<link href="../plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
	<link href="../plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
	<!-- loader-->
	<link href="../css/pace.min.css" rel="stylesheet" type="text/css" />
	<script src="../js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet"
		type="text/css">
	<link href="../css/app.css" rel="stylesheet" type="text/css">
	<link href="../css/icons.css" rel="stylesheet" type="text/css">
    

</head>

<body class="bg-theme bg-theme1">
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" th:fragment="header">
        
			<div class="topbar d-flex align-items-center">
				<nav class="navbar navbar-expand">
					<div class="topbar-logo-header">
						<div class="">
							<img src="../images/favicon.png" class="logo-icon" alt="logo icon">
						</div>
						<div class="">
							<h4 class="logo-text">Samyx</h4>
						</div>
					</div>
					<div class="mobile-toggle-menu"><i class='bx bx-menu'></i></div>
					<div class="search-bar flex-grow-1">
						
					</div>
					<div class="top-menu ms-auto">
						<ul class="navbar-nav align-items-center">
							<li class="nav-item mobile-search-icon">
								
							</li>
							<li class="nav-item dropdown dropdown-large">
								
							</li>
							<li class="nav-item dropdown dropdown-large">
								
								<div class="dropdown-menu dropdown-menu-end">
									
									<div class="header-notifications-list">
										<a class="dropdown-item" href="javascript:;">
											
										</a>
										<a class="dropdown-item" href="javascript:;">
											
										</a>
										<a class="dropdown-item" href="javascript:;">
											
										</a>
										<a class="dropdown-item" href="javascript:;">
											
										</a>
										<a class="dropdown-item" href="javascript:;">
											
										</a>
										<a class="dropdown-item" href="javascript:;">
											
										</a>
										<a class="dropdown-item" href="javascript:;">
											
										</a>
										<a class="dropdown-item" href="javascript:;">
											
										</a>
										<a class="dropdown-item" href="javascript:;">
											
										</a>
									</div>
									<a href="javascript:;">
										<div class="text-center msg-footer">View All Notifications</div>
									</a>
								</div>
							</li>
							<li class="nav-item dropdown dropdown-large">
								
								<div class="dropdown-menu dropdown-menu-end">
									<a href="javascript:;">
										
									</a>
									<div class="header-message-list">
										<a class="dropdown-item" href="javascript:;">
											
										</a>
										<a class="dropdown-item" href="javascript:;">
											
										</a>
										<a class="dropdown-item" href="javascript:;">
											
										</a>
										<a class="dropdown-item" href="javascript:;">
											
										</a>
										<a class="dropdown-item" href="javascript:;">
											
										</a>
										<a class="dropdown-item" href="javascript:;">
											
										</a>
										<a class="dropdown-item" href="javascript:;">
											
										</a>
										<a class="dropdown-item" href="javascript:;">
											
										</a>
										<a class="dropdown-item" href="javascript:;">
											
										</a>
										<a class="dropdown-item" href="javascript:;">
											
										</a>
										<a class="dropdown-item" href="javascript:;">
											
										</a>
									</div>
									
								</div>
							</li>
						</ul>
					</div>
                        <div class="user-box dropdown">
							<a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#"
								role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="../images/avatars/default.png" class="user-img" alt="user avatar">
								<div class="user-info ps-3">
									<p class="user-name mb-0" th:text="${#authentication.getPrincipal().getUsername()}"></p>
								</div>
							</a>
							<ul class="dropdown-menu dropdown-menu-end">
								<li><a class="dropdown-item" href="javascript:;"><i
											class="bx bx-user"></i><span>Perfil</span></a>
								</li>
								<li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a class="dropdown-item" th:href="@{/tipo-de-cambio/}"><i
											class="bx bx-transfer"></i><span>Tipo de cambio</span></a>
								</li>
								<li  sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"><a class="dropdown-item" th:href="@{/catalogos/usuarios}"><i
											class='bx bxs-user-detail'></i><span th:text="#{txt.usuarios}"></span></a>
								</li>
								<li><a class="dropdown-item" th:href="@{/emisor/}"><i
											class='bx bx-building'></i><span>Empresas</span></a>
								</li>
								<li><a class="dropdown-item" data-toggle="modal" href="#" data-target="#changePassword"><i
									class='bx bx-lock-open '></i><span th:text="#{txt.cambiar.password}"></span></a>
								</li>
								<li>
									<div class="dropdown-divider mb-0"></div>
								</li>
								<li>
									<form th:action="@{/logout}" method="post">
										<button type="submit" class="btn btn-danger"><i class="bx bx-power-off"></i> <span th:text="#{btn.cerrar.sesion}"></span></button>
									</form>
								</li>
							</ul>
						</div>
                    </ul>
                </div>
            </nav>
        </header>
        
        
        
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="nav-container" th:fragment="sidebar">
            <div class="mobile-topbar-header">
				<div>
					<img src="../images/favicon.png" class="logo-icon" alt="logo icon">
				</div>
				<div>
					<h4 class="logo-text">Samyx</h4>
				</div>
				<div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
				</div>
			</div>
			<nav class="topbar-nav">
				<ul class="metismenu" id="menu">
					<li>
						<a href="javascript:;" class="has-arrow">
							<div class="parent-icon"><i class='bx bx-home-circle'></i>
							</div>
							<div class="menu-title">Inicio</div>
						</a>
						<ul>
							<li> <a th:href="@{/}" href="#"></i>Inicio</a>
							</li>
							<li th:if="${session.SESSION_EMPRESA_ID} != null" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"> 
								<a href="">Dashboard</a>
							</li>

						</ul>
					</li>
					<li th:if="${session.SESSION_EMPRESA_ID} != null">
						<a href="javascript:;" class="has-arrow">
							<div class="parent-icon"><i class="bx bx-group"></i>
							</div>
							<div class="menu-title">Clientes</div>
						</a>
						<ul>
							<li> <a th:href="@{/clientes/form}">Nuevo Registro</a>
							</li>
							<li> <a th:href="@{/clientes/}">Listar</a>
							</li>
						</ul>
					</li>
					<li th:if="${session.SESSION_EMPRESA_ID} != null" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
						<a class="has-arrow" href="javascript:;">
							<div class="parent-icon"><i class="bx bx-layer"></i>
							</div>
							<div class="menu-title" th:text="#{txt.inventario}"></div>
						</a>
						<ul>
							<li> <a th:href="@{/producto-familia/}" th:text="#{txt.familia}"></a>
							</li>
							<li> <a th:href="@{/inventario/proveedores/}" th:text="#{txt.proveedores}"></a>
							</li>
							<li> <a th:href="@{/inventario/cabys/}" >Catálogo CABYS</a>
							</li>
							<li> <a th:href="@{/productos/}"  th:text="#{txt.productos}"></a>
							</li>
							<li> <a th:href="@{/inventario/factura-compra/}"  th:text="'Compra de inventario'"></a>
							</li>
							<li> <a th:href="@{/inventario/ajuste/}"  th:text="'Ajuste inventario'"></a>
							</li>
							<li> <a th:href="@{/inventario/reportes/}"  th:text="'Reportes'"></a>
							</li>
						</ul>
					</li>
					<li th:if="${session.SESSION_CONTROL_CAJAS} == 'S'">
						<a class="has-arrow" th:href="@{/control-cajas/}">
							<div class="parent-icon"><i class='bx bx-cabinet'></i>
							</div>
							<div>Cajas</div>
						</a>
					</li>
					<li th:if="${session.SESSION_EMPRESA_ID} != null">
						<a class="has-arrow" href="javascript:;">
							<div class="parent-icon"><i class='bx bx-message-square-edit'></i>
							</div>
							<div class="menu-title" th:text="#{txt.comprobantes}"></div>
						</a>
						<ul>
							<li> <a th:href="@{/facturar/}+'?f=all'" th:text="#{txt.facturar}"></a>
							</li>
							<li th:if="${session.SESSION_SISTEMA_FARMACIA == 'N'}"> 
								<a th:href="@{/facturar/}">Facturar Precio Final</a>
							</li>
							<li th:if="${session.SESSION_SISTEMA_FARMACIA == 'N'}"> 
								<a th:href="@{/prefacturas/}">Prefacturas</a>
							</li>
							<li> <a th:href="@{/proformas/}" th:text="'Proformas'"></a>
							</li>
							<li th:if="${ #authorization.expression('isAuthenticated()') and 
							#strings.contains(#authentication.principal.authorities,'ROLE_ADMIN')}"> 
							<a th:href="@{/comprobantes-electronicos/}">API</a>
							</li>
							<li > <a th:href="@{/comprobantes-electronicos-enviados}">Todos los comprobantes</a>
							</li>
							<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"> 
								<a th:href="@{/fe-documentos/}" th:text="#{txt.documentos}"></a>
							</li>
							<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"> 
								<a th:href="@{/mensaje-receptor/}" th:text="#{txt.mensaje.receptor}"></a>
							</li>
							<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"> 
								<a th:href="@{/mensaje-receptor-inbox/}" th:text="'Bandeja de entrada'"></a>
							</li>
							<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"> 
								<a th:href="@{/consulta-comprobantes-manualmente/}" th:text="#{txt.consulta.documentos.manualmente}"></a>
							</li>
							<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"> 
								<a th:href="@{/historicos/}" th:text="'Históricos otros sistemas'"></a>
							</li>
						</ul>
					</li>
					<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" th:if="${session.SESSION_EMPRESA_ID} != null">
						<a class="has-arrow" href="javascript:;">
							<div class="parent-icon icon-color-6"> <i class="bx bx-donate-blood"></i>
							</div>
							<div class="menu-title" th:text="#{txt.cxc}"></div>
						</a>
						<ul>
							<li> <a th:href="@{/cxc/(e='A')}" th:text="#{txt.cxc.cuentas.por.cobrar}"></a>
							</li>
							<li> <a th:href="@{/cxc/reportes/flujo-de-caja}" th:text="#{txt.cxc.flujo.de.caja}"></a>
							</li>
							<li> <a th:href="@{/cxc/reportes/reportes}"></i>Reportes</a>
							</li>
						</ul>
					</li>
					<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" th:if="${session.SESSION_EMPRESA_ID} != null">
						<a class="has-arrow" href="javascript:;">
							<div class="parent-icon"><i class="bx bx-line-chart"></i>
							</div>
							<div class="menu-title" th:text="#{txt.reportes}"></div>
						</a>
						<ul>
							<li> <a th:href="@{/reportes/ventas}" th:text="#{txt.reportes.ventas}"></a>
							</li>
							<li> <a th:href="@{/reportes/ventas-productos}" th:text="'Reporte ventas por producto'"></a>
							</li>
							<li> <a th:href="@{/reportes/compras}" th:text="#{txt.reportes.compras}"></a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Fix-sidebar</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Fix-sidebar</li>
                    </ol>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            
            
            
            <footer th:fragment="footer"  class="page-footer">
            	
            	  
            	<span class="poweredby" th:text="'© '+ #{txt.app.name}"></span>
            	
            	
            	<div class="modal fade" id="changePassword" role="dialog" data-backdrop="static" data-keyboard="false">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				    <form id="formChangePass" th:action="@{/usuarios/cambiar-password}" method="post">
					      <div class="modal-header">
					        <h5 class="modal-title" id="changePassword" th:text="#{txt.cambiar.password}"></h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">

		                        <div class="form-group">
		                            <div class="col-xs-12">
		                            	<input class="form-control" type="password" required="required" id="_password" name="password" th:placeholder="#{txt.digite.password}"> 
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <div class="col-xs-12">
		                            	<input class="form-control" type="password" required="required" id="_password2" name="password2" th:placeholder="#{txt.confirme.password}"> 
		                            </div>
		                        </div>
		
					      </div>
					      <div class="modal-footer">  	
					         <button type="button" class="btn btn-inverse" style="color:#FFF !important" data-dismiss="modal"> <i class="fa fa-ban" aria-hidden="true"></i>&nbsp; <span th:text="#{btn.cancelar}"></span></button>
					         <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;<span th:text="#{txt.cambiar.password}"></span></button>
					      </div>
				      </form>
				    </div>
				  </div>
				</div>
            
            
                <p class="titleEmpresa" th:if="${session.SESSION_DATOS_EMPRESA_NOMBRE} != null">Empresa:&nbsp;[(${session.SESSION_DATOS_EMPRESA_NOMBRE})]</p>            
            
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    
    <div th:fragment="scripts" >    	
    	
		<script src="../js/bootstrap.bundle.min.js"></script>
		<!--plugins-->
		<script src="../js/jquery.min.js"></script>
		<script src="../plugins/simplebar/js/simplebar.min.js"></script>
		<script src="../plugins/metismenu/js/metisMenu.min.js"></script>
		<script src="../plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
		<script src="../plugins/apexcharts-bundle/js/apexcharts.min.js"></script>
		<script src="../js/widgets.js"></script>
		<!--app JS-->
		<script src="../js/app.js"></script>
		
		<script>
		
		var token = $('#csrfToken').val();
		
		function loadingShow(){
			$("#btnProcesando").show();
		}
		
		function loadingHide(){
			$("#btnProcesando").hide();
		}
		
		$('.number-format').number(true, [(${ session.SESSION_DECIMALES })], '.', ' ');
		$('.number-format-final').number( true, [(${ session.SESSION_DECIMALES })], '.', ' ' );
		
		$.fn.modal.Constructor.prototype._enforceFocus = function() {};
		
		$('._select2_').select2({
		  placeholder: 'Seleccione un elemento',
		  allowClear: true
		});
		
		jQuery('.dd-mm-yyyy').datepicker({
	        autoclose: true,
	        format: 'dd/mm/yyyy',
	        todayHighlight: true
	    });
		jQuery('.yyyy').datepicker({
	        startView: 2,
	        autoclose: true,
  			minViewMode: 2,
	        format: 'yyyy',
	    });
		function validateFloatKeyPress(el, evt) {

	        var charCode = (evt.which) ? evt.which : event.keyCode;
	        var number = el.value.split('.');
	        if (charCode !== 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
	            return false;
	        }
	        //just one dot
	        if (number.length > 1 && charCode === 46) {
	            return false;
	        }
	        //get the carat position
	        var caratPos = getSelectionStart(el);
	        var dotPos = el.value.indexOf(".");
	        if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
	            if (charCode === 8) {
	                return true;
	            } else {
	                return false;
	            }
	        }
	        return true;
	    }

	    function getSelectionStart(o) {
	        if (o.createTextRange) {
	            var r = document.selection.createRange().duplicate();
	            r.moveEnd('character', o.value.length);
	            if (r.text === '')
	                return o.value.length;
	            return o.value.lastIndexOf(r.text);
	        } else
	            return o.selectionStart;
	    }
	    
	    $('.reload').click(function() {
	        location.reload();
	    });
	    
	    $('.dd-mm-yyyy').datepicker({
	        autoclose: true,
	        format: 'dd/mm/yyyy',
	        todayHighlight: true
	    });
	    
	    $('.dd-mm-yyyy-exonera').datepicker({
	        autoclose: true,
	        format: 'dd/mm/yyyy HH:mm:ss',
	        todayHighlight: true
	    });
	    
	    
	    $(document).on("keyup", "input, textarea", function () {
	        var limit = $(this).attr("maxlength");
	        var value = $(this).val();
	        var current = value.length;
	        if (parseInt(current) > parseInt(limit)) {
	            swal("", "Este campo no admite más de <b class='badge'>" + limit + "</b> caracteres", "warning");
	        }
	        if (limit < current) {
	            $(this).val(value.substring(0, limit));

	        }
	    });
	    
	    $(document).on('keyup', '.num-integer', function () {
	        this.value = this.value.replace(/[^0-9]/g, '');
	    });
	    
	    function validateFloatKeyPress(el, evt) {
	    	
	        var charCode = (evt.which) ? evt.which : event.keyCode;
	        var number = el.value.split('.');
	        if (charCode !== 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
	            return false;
	        }
	        //just one dot
	        if (number.length > 1 && charCode === 46) {
	            return false;
	        }
	        //get the carat position
	        var caratPos = getSelectionStart(el);
	        var dotPos = el.value.indexOf(".");
	        if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
	            if (charCode === 8) {
	                return true;
	            } else {
	                return false;
	            }
	        }
	        return true;
	    }

	    function getSelectionStart(o) {
	    	
	        if (o.createTextRange) {
	            var r = document.selection.createRange().duplicate();
	            r.moveEnd('character', o.value.length);
	            if (r.text === '')
	                return o.value.length;
	            return o.value.lastIndexOf(r.text);
	        } else
	            return o.selectionStart;
	    }
	    
	    $(document).on('show.bs.modal', '.modal', function () {
	        var zIndex = 1040 + (10 * $('.modal:visible').length);
	        $(this).css('z-index', zIndex);
	        setTimeout(function() {
	            $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
	        }, 0);
	    });
	    
	    function redondeo(numero, decimales) {
		    var flotante = parseFloat(numero);
		    var resultado = Math.round(flotante*Math.pow(10,decimales))/Math.pow(10,decimales);
		    return resultado;
	    }
	    
	    function myRound(num, dec) {
    	  var exp = Math.pow(10, dec || 2); // 2 decimales por defecto
    	  return parseInt(num * exp, 10) / exp;
    	}
	    
	    function decimalsNumber(number) {
    	   number += '';
    	   var numberFixed = parseFloat(number).toFixed(5);
    	   var numberSplit = numberFixed.split(".");
    	   var decimalValue = numberSplit[1];
    	   var returnVal = ".";
    	   if (decimalValue.substring(0, 5) == "00000")
    	      returnVal += '00';
    	   else if (decimalValue.substring(1, 5) == "0000")
    	      returnVal += decimalValue.substring(0, 2);
    	   else if (decimalValue.substring(2, 5) == "000")
    	      returnVal += decimalValue.substring(0, 2);
    	   else if (decimalValue.substring(3, 5) == "00")
    	      returnVal += decimalValue.substring(0, 3);
    	   else if (decimalValue.substring(4, 5) == "0")
    	      returnVal += decimalValue.substring(0, 4);
    	   else
    	      returnVal += decimalValue;

    	   return numberSplit[0].toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") + returnVal;

    	}
	    
	    function NUM(s, dec) {
            for (var s = s + "", num = "", x = 0; x < s.length; x++) {
                c = s.charAt(x);
                if (".-+/*".indexOf(c) + 1 || c != " " && !isNaN(c)) {
                    num += c;
                }
            }
            if (isNaN(num)) {
                num = eval(num);
            }
            if (num == "") {
                num = 0;
            } else {
                num = parseFloat(num);
            }
            if (dec != undefined) {
                r = .5;
                if (num < 0) r = -r;
                e = Math.pow(10, (dec > 0) ? dec : 0);
                return parseInt(num * e + r) / e;
            } else {
                return num;
            }
        }
	    
	    function toFixed(x, n) {

            var Truncar = (parseFloat(n) + 1);
            const v = (typeof x === 'string' ? x : x.toString()).split('.');
            if (Truncar <= 0) return v[0];
            let f = v[1] || '';
            if (f.length > Truncar) return NUM(`${v[0]}.${f.substr(0, Truncar)}`, n);
            while (f.length < Truncar) f += '0';
            Numero_Truncado = `${v[0]}.${f}`;

            return NUM(Numero_Truncado, n);
        }	
	    	    
	    /*
	    $(document).on("keyup","#buscarClienteApi", function(e){
            
            e.preventDefault();
            if($(this).val().length >= 9){

                $.ajax({
                    type: "GET",
                    cache: false,
                    beforeSend: function () {
                        loadingShow();
                    },
                    url: "[(@{/})]consulta-personas-mh",
                    data: {identificacion: $(this).val()},
                    success: function (data)
                    {
                        
                      $("#tipoDeIdentificacion").val(data.tipoIdentificacion.substring(1, 2));
                      $("#identificacion").val( $("#buscarClienteApi").val() );
                      $("#nombreCompleto").val(data.nombre);              
                      $('#tipoDeIdentificacion').select2();

                    }, complete: function () {
                        loadingHide();
                    }, error: function (x, t, m) {
                        
                        $("#tipoDeIdentificacion").val('');
                        $("#identificacion").val('');
                        $("#nombreCompleto").val('');             
                        $('#tipoDeIdentificacion').select2();
                        if (t === "timeout") {
                            
                        } else {
                            
                        }
                    }
                });
            
            }
            
      });
	    */
	    
	 		$(document).on("keyup","#buscarClienteApi", function(e){
	            
	            e.preventDefault();
	            if($(this).val().length >= 9){
	
	                $.ajax({
	                    type: "GET",
	                    //cache: false,
	                    beforeSend: function () {
	                        loadingShow();
	                    },
	                    url: "https://api.hacienda.go.cr/fe/ae",
	                    data: {identificacion: $(this).val()},
	                    success: function (data)
	                    {
						
						  $("#labelIdentificacionNoExiste").remove();

	                      $("#tipoDeIdentificacion").val(data.tipoIdentificacion.substring(1, 2));
	                      $("#identificacion").val( $("#buscarClienteApi").val() );
	                      $("#nombreCompleto").val(data.nombre);              
	                      $('#tipoDeIdentificacion').select2();
	
	                    }, complete: function () {
	                        loadingHide();
	                    }, error: function (x, t, m) {

	                    	try{

	                    		if(parseInt(x.status) === 404){
									$("#labelIdentificacionNoExiste").remove();
									$('<span class="label label-warning" id="labelIdentificacionNoExiste">No se encuentra ningún cliente con esa identificación, verifíquela o digite los datos del cliente manualmente.</span>').insertAfter('#buscarClienteApi');

								}else{
									$("#labelIdentificacionNoExiste").remove();
									$('<span class="label label-danger" id="labelIdentificacionNoExiste">El servicio que presta el Ministerio de Hacienda está presentando problemas por favor digite los datos del cliente manualmente.</span>').insertAfter('#buscarClienteApi');
								}
	                    	}catch(error){
								$("#labelIdentificacionNoExiste").remove();
								$('<span class="label label-danger" id="labelIdentificacionNoExiste">El servicio que presta el Ministerio de Hacienda está presentando problemas por favor digite los datos del cliente manualmente.</span>').insertAfter('#buscarClienteApi');
	                    	}
	                        
	                        $("#tipoDeIdentificacion").val('');
	                        $("#identificacion").val('');
	                        $("#nombreCompleto").val('');             
	                        $('#tipoDeIdentificacion').select2();
	                        if (t === "timeout") {
	                            
	                        } else {
	                            
	                        }
	                    }
	                });
	            
	            }
	            
	      });
	    
	    
	    $(document).on("submit", "#formChangePass", function(e){
		    	
		    	if($("#_password").val() != $("#_password2").val()){
			    	  $("#_password, #_password2").addClass("is-invalid");
			    	  swal("","[(#{txt.password.diferentes})]","warning");
			    	  return false
			      }
	
		        $.ajax({
		            type: "POST",
		            cache: false,
		            beforeSend: function () {
		                loadingShow();
		            },
		            url: "[(@{/usuarios/cambiar-password})]",
		            data: $(this).serialize(),
		            success: function (data)
		            {
		            	if(data.message === "OK"){
		            		swal("Notificación","Su contraseña ha sido cambiada con éxito.", "success");
		            		
		            		$("#_password, #_password2").val("");
		            		
		            	}else{
		            		swal("Notificación","Ocurrió un error contacte al administrador del sistema.", "warning");
		            	}
	
		            }, complete: function () {
		                loadingHide();
		            }, error: function (x, t, m) {
	
	
		            }
	
		    	});
		        
		        return false;
		    
		});
	    
	    $('._select21_').select2({
		  placeholder: 'Seleccione un elemento',
		  minimumResultsForSearch: -1
		});
	    
	    var isMobile = {
	    	    Android: function() {
	    	        return navigator.userAgent.match(/Android/i);
	    	    },
	    	    BlackBerry: function() {
	    	        return navigator.userAgent.match(/BlackBerry/i);
	    	    },
	    	    iOS: function() {
	    	        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
	    	    },
	    	    Opera: function() {
	    	        return navigator.userAgent.match(/Opera Mini/i);
	    	    },
	    	    Windows: function() {
	    	        return navigator.userAgent.match(/IEMobile/i);
	    	    },
	    	    any: function() {
	    	        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
	    	    }
	    	};
	    
	    /*
	    var width = $(window).width(); 
	    var height = $(window).height(); 
	    
	    alert("width " + width + " | height" + height );
	    */

	    /*
		'theme'     :'colorful',
		'content'   :{
			title:'Notificación',
			bgcolor:'#47a447',
			message: m,
			info:'',
			//icon:'fas fa-check'
		},
		*/

	    function notificacion(m){  
			$.amaran({
				'position'  :'top right',
				'inEffect'  :'slideRight',
				'message'   : m,
				'delay'     :2500        
			});
		}
		
		$(document).on("keyup",".retorna-cero", function(){
			 if($(this).val() === ""){
				 $(this).val("0");
			 }
		});
		
		$(document).on('focus', '.select2-selection.select2-selection--single', function (e) {
		  $(this).closest(".select2-container").siblings('select:enabled').select2('open');
		});

		// steal focus during close - only capture once and stop propogation
		$('select.select2').on('select2:closing', function (e) {
		  $(e.target).data("select2").$selection.one('focus focusin', function (e) {
		    e.stopPropagation();
		  });
		});
	    

		</script>

		<script async src="https://www.googletagmanager.com/gtag/js?id=G-4NVHCBS0P6"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'G-4NVHCBS0P6');
		</script>
		
		<button style="display:none;" id="btnProcesando" class="btn btn-primary" type="button" disabled="">
		  <i class="fas fa-redo fa-spin"></i> Procesando...
		</button>

    </div>
    
</body>

</html>
