<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">

<tr th:classappend="${k.status} == 2 ? table-danger" th:each="k: ${listaSucursales}">
      <td th:text="${k.sucursal}"></td>
      <td th:text="${k.nombreSucursal}"></td>
      <td th:text="${k.encargadoSucursal}"></td>
      <td th:text="${k.telefono}"></td>
      <td th:text="${k.correoSucursal}"></td>      
      <td th:text="${k.direccion}"></td>                                 
      <td class="text-align-center" >
      	
      	<button data-toggle="modal" data-target=".modal-sucursal" class="btn-form-sucursal btn waves-effect waves-light  btn-xs btn-outline-secondary" th:attr="data-id=${k.id}">
      		<i class="fas fa-edit"></i> Editar
      	</button>								
      	                                        	
      </td>
  </tr>


</html>