<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="fix-header card-no-border logo-center">

<div id="main-wrapper">

<header th:replace="layout/layout :: header"></header>
<aside th:replace="layout/layout :: aside"></aside>



<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
        	 <h3 class="text-themecolor" th:text="#{txt.reportes.compras}"></h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)" th:href="@{/}" th:text="#{txt.inicio}"></a></li>
                <li class="breadcrumb-item active" th:text="#{txt.reportes.compras}"></li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
       	<div class="card">
           <div class="card-body">
           	    <form autocomplete="off" th:action="@{/reportes/compras}" id="formReporteCompras" method="post">
	           		<h3>Generar reporte de las compras realizadas</h3>
			        <div class="row">
			        <div class="col-sm-2 col-md-4">
                            <div class="form-group" style="position: relative;">
                               <label class="control-label" th:text="'Actividades económicas'"></label>
                               <select class="form-control _select2_" name="actividad" required="required">
                               		<option th:each="k : ${listaActividades}" th:value="${k.codigoActividadEmisor}" th:text="${k.detalleActividad}"></option>
                               		<option th:value="'ALL'">Todas las actividades</option>
                               </select>   
                            </div>
                         </div>
			        	<div class="col-md-2">
				            <div class="form-group">
				                <label class="control-label">Criterio del reporte</label>
				                <div class="input-group">
				                	<select id="_cr" name="cr" class="form-control _select2_" required="required">
				                		<optgroup label="Presente">
				                			<option value="1" selected="selected">Hoy</option>
					                		<option value="2">Esta semana</option>
					                		<option value="3">Este mes</option>
					                		<option value="4">Este año</option>
				                		</optgroup>
				                		<optgroup label="Pasado">
				                			<option value="5">Ayer</option>
					                		<option value="6">Semana pasada</option>
					                		<option value="7">Mes pasado</option>
				                		</optgroup>
				                		<optgroup label="Rango de fechas manual">
				                			<option value="9">Asigne el rango de fechas</option>
				                		</optgroup>
				                	</select>
				                </div>
				            </div>
			            </div>
			            <div class="col-md-2">
				            <div class="form-group">
				                <label class="control-label">Fecha registro/compra</label>
				                <div class="input-group">
				                	<select name="cf" class="form-control _select2_" required="required">
				                		<option value="2">Fecha en que se hizo la compra</option>	
				                		<option value="1">Fecha en que se registro en el sistema</option>																		
				                	</select>
				                </div>
				            </div>
			            </div>
			            <div class="col-md-2">
				            <div class="form-group">
				                <label class="control-label">
				                	Desde
				                </label>
				                <div class="input-group">
				                	<input type="text" name="f1" id="_f1" class="form-control align-right dd-mm-yyyy" placeholder="dd/mm/yyyy" required="required">
				                	<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
				                </div>
				            </div>
			            </div>
			            <div class="col-md-2">
				            <div class="form-group">
				                <label class="control-label">
				                	hasta
				                </label>
				                <div class="input-group">
				                	<input type="text" name="f2" id="_f2" class="form-control align-right dd-mm-yyyy" placeholder="dd/mm/yyyy" required="required">
				                	<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
				                </div>
				            </div>
			            </div>
			            <div class="col-md-2">
				            <div class="form-group">
				                <label class="control-label">Estado documento</label>
				                <div class="input-group">
				                	<select name="e" class="form-control _select2_" required="required">
			                			<option value="A" selected="selected">Aceptado Hacienda</option>
				                		<option value="R">Rechazado Hacienda</option>
				                	</select>
				                </div>
				            </div>
			            </div>
                         <div class="col-sm-2 col-md-1">
                            <div class="form-group">
                               <label class="control-label" th:text="#{txt.moneda}"></label>
                               <select class="form-control _select2_" name="m" required="required">
                                  <option th:value="'100'" th:text="'Todos'" selected="selected"></option>
                                  <option value="1">CRC</option>
                                  <option value="2">USD</option>
                               </select>
                            </div>
                         </div>
                         
                         <div class="col-md-2">
				            <div class="form-group">
				                <label class="control-label">Aplicar conversión a</label>
				                <div class="input-group">
				                	<select name="sr" class="form-control _select2_" required="required">
			                			<option value="C" selected="selected">Colones</option>
				                		<option value="D">Dolares</option>
				                	</select>
				                </div>
				            </div>
			            </div>
                         
                          <div class="col-md-2">
                           <div class="form-group">
                               <label class="control-label">[(#{txt.mr.condicion.de.impuesto})]</label>
                               <select name="ci" class="form-control _select2_" required="required">
                               	   <option value="100" selected="selected" th:text="#{txt.combo.todos}"></option>
                                   <option value="01">Genera crédito IVA </option> 
                                   <option value="02">Genera Crédito parcial del IVA</option>
                                   <option value="03">Bienes de Capital</option>
                                   <option value="04">Gasto corriente no genera crédito</option>
                                   <option value="05">Proporcionalidad</option>
                               </select>
                           </div>
                          </div> 
			            <div class="col-md-2">
				            <div class="form-group">
				                <label class="control-label">&nbsp;</label>
				                <div class="input-group">
				                	<button type="submit" id="btnConsultarEstados" class="btn-block btn btn-success btn-sm">
				                		<i class="fas fa-file-excel"></i> Generar reporte
				                	</button>
				                </div>
				            </div>
			            </div>
			            <div class="col-md-2">
				            <div class="form-group">
				                <label class="control-label">&nbsp;</label>
				                <div class="input-group">
				                	<button type="button" class="reload-page btn-block btn btn-danger btn-sm">
				                		<i class="fas fa-redo-alt"></i> Resetear campos
				                	</button>
				                </div>
				            </div>
			            </div>
			        </div>
		        </form>
	        </div>	        
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer th:replace="layout/layout :: footer"></footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->




</div>
<input id="csrfToken" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
<div th:replace="layout/layout :: scripts"></div>

<script th:src="@{/js/date.js}"></script>

<script type="text/javascript">
var token = $('#csrfToken').val();

$(document).ready(function(){
	
	$("#_f1").val( Date.today().toString("dd/MM/yyyy") );
	$("#_f2").val( Date.today().toString("dd/MM/yyyy") );
	
	$(document).on("click",".reload-page",function(){
		location.reload();
	});
	
	$(document).on("click", "#btnConsultarEstados", function(e){	
		e.preventDefault();
		
		$.ajax({
	        type: "POST",
	        cache: false,
	        beforeSend: function () {
	        	loadingShow();
	        },
	        url: "[(@{/mensaje-receptor/consultar-documentos})]",
	        data: {_csrf:token},
	        success: function (data)
	        {
	        	
	        	if(parseInt(data.response) === 200){
	        		
	        		if(parseInt(data.docsPendientes) > 0){
	        			swal({
						    text: "Existen "+data.docsPendientes+" documento(s) pendientes por enviar al Ministerio de Hacienda, estos documentos NO se contemplan en el reporte porque aún no se tiene su aceptación.",
						    button: {
						        text: "Aceptar",
						      },
						      icon: "success",
						    closeModal: false
						}).then(function() {
						    swal.close();
						    $("#formReporteCompras").submit();
						});
	        		}else{
	        			$("#formReporteCompras").submit();
	        		}
	        		
	        	}else{
	        		swal("","Algo no salio bien, contácte al administrador del sistema.","warning");
	        	}
	            
	        }, complete: function () {
	            loadingHide();
	        }, error: function (x, t, m) {
	            if (t === "timeout") {
	                
	            } else {
	                
	            }
	        }
	    });
	});
	
	$(document).on("change", "#_cr", function(){
		
		var v = $(this).val();
		
		switch (parseInt(v)) {
		case 1:
			//Día de hoy
			$("#_f1").val( Date.today().toString("dd/MM/yyyy") );
			$("#_f2").val( Date.today().toString("dd/MM/yyyy") );
			break;
		case 2:
			//Esta semana
			$("#_f1").val( Date.today().last().monday().toString("dd/MM/yyyy") );
			$("#_f2").val( Date.today().next().sunday().toString("dd/MM/yyyy") );
			break;
		case 3:
			//Este mes
			$("#_f1").val( Date.today().moveToFirstDayOfMonth().toString("dd/MM/yyyy") );
			$("#_f2").val( Date.today().moveToLastDayOfMonth().toString("dd/MM/yyyy") );
			break;
		case 4:
			//Este año
			$("#_f1").val( Date.january().toString("dd/MM/yyyy") );
			$("#_f2").val( Date.december().moveToLastDayOfMonth().toString("dd/MM/yyyy") );
			break;
		case 5:
			//Ayer
			$("#_f1").val( Date.parse("yesterday").toString("dd/MM/yyyy") );
			$("#_f2").val( Date.parse("yesterday").toString("dd/MM/yyyy") );
			break;	
		case 6:
			//Semana pasada
			$("#_f1").val( new Date().last().week().monday().toString("dd/MM/yyyy") );
			$("#_f2").val( new Date().last().sunday().toString("dd/MM/yyyy") );
			break;	
		case 7:
			//Mes pasado
			$("#_f1").val( new Date().last().month().moveToFirstDayOfMonth().toString("dd/MM/yyyy") );
			$("#_f2").val( new Date().last().month().moveToLastDayOfMonth().toString("dd/MM/yyyy") );
			break;		
		default:
			break;
		}

	});
	
});



</script>

</div>
</body>
</html>