<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="fix-header card-no-border logo-center">

<div id="main-wrapper">

<header th:replace="layout/layout :: header"></header>
<aside th:replace="layout/layout :: aside"></aside>



<!-- ============================================================== -->
<!-- Page wrapper  -->

<!-- ============================================================== -->
<div class="page-wrapper form-facturador">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
        	<h3 class="text-themecolor" th:text="#{txt.documentos}"></h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)" th:href="@{/fe-documentos/}" th:text="#{txt.inicio}"></a></li>
                <li class="breadcrumb-item active" th:text="#{txt.documentos}"></li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                    <div class="align-right">
                    	<button type="button" class="btn btn-info btn-xs" id="btnConsultarEstados"><i class="fas fa-sync-alt m-r-10"></i>Consultar el estado de los documentos</button>
                    </div>
                    
                    <div class="align-right">

                    	<form class="m-t-10" method="get" autocomplete="off" th:action="@{/fe-documentos/}">

                    		<div class="input-group">
							    <input th:value="${param.q}" type="search" name="q" class="form-control input" placeholder="Buscar por número de factura, nombre, identificación o por clave y presione la tecla enter.">
							    <div class="input-group-append">
								      <button class="btn btn-success btn-sm btn-block"  type="submit">
								        <i class="fa fa-search"></i>
								      </button>
							    </div>
						  	</div>
                    		
                    	</form>
                    	
                    </div>
                    
                    <p style="text-align: center;width: 100%;" class="m-t-10" th:if="*{param.q!=null and #strings.length(param.q)>0}">
	                    	Criterio de búsqueda: <span class="font-weight-bold" th:text="${param.q}"></span> <a style="height: 20px" class="btn btn-danger btn-xs color-blanco" th:href="@{/fe-documentos/}"><i class="fas fa-window-close"></i> Cerrar búsqueda</a>
	                 </p>
                    
                    <br>
                    	<div class="table-responsive">
                             <table class="table color-table table-hover muted-table">
                                 <thead>
                                     <tr>
                                         <th class="align-right m-r-10"  style="width: 8%" th:text="#{txt.numero.factura}"></th>
                                         <th style="width: 10%" th:text="#{txt.consecutivo}"></th>
                                         <th style="width: 10%" th:text="#{txt.tipo.documento}"></th>
                                         <th class="align-right p-r-10" style="width: 12%" th:text="#{txt.fecha.emisicon}"></th>
                                         <th style="width: 10%" th:text="#{txt.identificacion}"></th>
                                         <th style="width: 25%" th:text="#{txt.cliente}"></th>
                                         <th style="width: 8%" th:text="#{txt.impuestos}"></th>
                                         <th style="width: 8%" th:text="#{txt.total.factura}"></th>
                                         <th style="width: 8%" th:text="#{txt.estado.mh}"></th>
                                         <th style="width: 10%" class="text-align-center" th:text="#{txt.acciones}"></th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                     <tr th:classappend="${#strings.equals(k.estado,'N')} ? table-danger : ''"   th:each="k: ${ListaDocumentos}">
                                         <td class="align-right m-r-10" th:text="${k.numeroFactura}"></td>
                                         <td th:text="${k.consecutivo}" ></td>
                                         <td th:text="${k.respTipoDocumento}" th:classappend="${#strings.equals(k.tipoDocumento,'NC')} ? table-warning : 'table-success'"></td>

                                         <td>
                                         	<span th:remove="tag" th:if="${k.fechaEmision != null and #strings.length(k.fechaEmision)>0}">
                                         		<th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-MM-dd''T''HH:mm:ss')}">
												    <p th:remove="tag" th:text="${#dates.format(sdf.parse(k.fechaEmision), 'dd/MM/yyyy hh:mm:ss a')}" />
												 </th:block>
                                         	</span>
                                         </td>  
                                         
                                         <td th:text="${k.cliente != null ? k.cliente.identificacion : ' - '}"></td>
                                         <td th:text="${k.cliente != null ? k.cliente.nombreCompleto : ' - '} + ${k.clienteContado != null ? k.clienteContado : ''}"></td>
                                         <td th:text="${k.moneda.abreviatura}+' '+${#numbers.formatDecimal(k.totalImp, 0, 'POINT', 2, 'COMMA')}"></td>
                                         <td th:text="${k.moneda.abreviatura}+' '+${#numbers.formatDecimal(k.totalComprobante, 0, 'POINT', 2, 'COMMA')}"></td>  
                                         
                                         <td th:classappend="${#strings.equals(k.estadoMH,'rechazado')} ? table-danger : ''">
                                         	[(${k.estadoMH})]
                                         </td>  
                                                                            
                                         <td class="text-align-center" >
                                         
											<div class="btn-group dropleft">
												  <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												    <i class="fas fa-cog m-r-10"></i>Acciones
												  </button>
												  <div class="dropdown-menu">
										
												    <a class="dropdown-item" th:href="@{/fe-documentos/view/}+${k.id}" th:attr="title=#{title.ver.registro}" data-toggle="tooltip">
		                                         		<i class="fas fa-search-plus m-r-10"></i>Ver factura
		                                         	</a>	
												    
												    <a target="_blank" class="dropdown-item" th:href="@{/imprimir-factura/}+${k.clave}+'/?print=C'">
												    	<i class="fas fa-print m-r-10"></i>Imprimir carta
												    </a>
												    
												    <a target="_blank" class="dropdown-item" th:href="@{/imprimir-factura/}+${k.clave}+'/?print=T'">
												    	<i class="fas fa-print m-r-10"></i>Imprimir tiquete
												    </a>
												    
												    <a href="#" th:attr="data-clave=${k.clave},data-cliente=${k.cliente != null ? k.cliente.id : '0'}" class="dropdown-item btnReenviarFactura" title="Reenviar factura por correo" data-toggle="modal" data-target=".reenviarFacturaModal">
												    	<i class="fas fa-at m-r-10"></i>Reenviar factura por correo
												    </a>
												    
												    <a href="#" th:attr="data-id=${k.id}" class="dropdown-item btn-load-bitacora" title="Bitácora" data-toggle="modal" data-target=".bitacoraModal">
												    	<i class="fas fa-book m-r-10"></i>Bitácora ND / NC
												    </a>
												    <!--  
												    <div class="dropdown-divider"></div>
												    	<a class="dropdown-item" href="#"></a>
												  	</div>
												  	-->
												  	
												</div>	
											</div>							
                                         	                                        	
                                         </td>
                                     </tr>
                                 </tbody>
                             </table>
                             <nav th:replace="paginator-nav :: paginator"></nav>
                         </div>    
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    
    
    <div class="modal fade bitacoraModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"  aria-hidden="true">
	  <div class="modal-dialog modal-xlg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Bitácora</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <div id="loadBitacora"></div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal" > 
	        	<i class="fas fa-window-close"></i> <span th:text="#{btn.close}">&nbsp;</span>
	        </button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal fade modalAddNdNc" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Generar nota de débito o crédito</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      
	      <form id="formAddNdNc" autocomplete="off" th:action="@{/fe-documentos/emitir-nd-nc}" method="post">
	      
	      	 
	      
		      <div class="modal-body">
		      
		       <p>Este formulario se utiliza para emitir una Nota de <b>débito</b> o <b>crédito</b> de una factura completa, es decir si desea anularla por completo.</p>
		      
		        <div class="form-group">
                     <label class="control-label">¿Nota de débito o nota de crédito?</label>
                     <select style="width: 100%" class="form-control input-sm _select2_" name="tipoDocumento" required="required">
                         <option value="" selected="selected">Seleccione</option>
                         <option value="ND">Nota de débito</option>
                         <option value="NC">Nota de crédito</option>
                     </select>
                 </div>
                 
                 <div class="form-group">
                     <label class="control-label">Razón por la que desea hacerlo</label>
                     <input maxlength="180" name="razon" type="text" class="form-control input-sm" required="required">
                 </div>
                 
		      </div>
		      <div class="modal-footer">
		        <input type="hidden" id="facturaActual" />
		        <input name="id" type="hidden" id="documentoActual" />
		        <button type="button" class="btn btn-secondary" data-dismiss="modal" > 
		        	<i class="fas fa-window-close"></i> <span th:text="#{btn.close}">&nbsp;</span>
		        </button>
		        <button type="submit" id="btnGeneraNcNd" class="btn btn-success">
		        	<i class="fas fa-paper-plane"></i> Generar documento
		        </button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
    
    <div class="modal fade reenviarFacturaModal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Reenviar factura por correo electrónico</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      
	      <form id="formReenviarFactura" autocomplete="off" th:action="@{/fe-documentos/reenviar-factura}" method="post">
		      <div class="modal-body">
                 <div class="form-group">
                     <label>Correo</label>
                     <input maxlength="180" id="inputEmail" placeholder="Digite el correo electrónico" name="correo" type="text" class="form-control input-sm" required="required">
                 </div>
		      </div>
		      <div class="modal-footer">
		        <input name="clave" type="hidden" id="claveFacturaActual" />
		        <button type="button" class="btn btn-secondary" data-dismiss="modal" > 
		        	<i class="fas fa-window-close"></i> <span th:text="#{btn.close}">&nbsp;</span>
		        </button>
		        <button type="submit" class="btn btn-success">
		        	<i class="fas fa-at m-r-10"></i>Enviar factura
		        </button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
    
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer th:replace="layout/layout :: footer"></footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->

</div>
<input id="csrfToken" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
<div th:replace="layout/layout :: scripts"></div>

<script>

var token = $('#csrfToken').val();
function loadBitacora(id){
	$.ajax({
        type: "POST",
        cache: false,
        beforeSend: function () {},
        url: "[(@{/fe-documentos/bitacora})]",
        data: {idFactura:id, _csrf:token},
        success: function (data)
        {
        	
        	$("#loadBitacora").html(data);
        	
            
        }, complete: function () {
            //loading_hide();
        }, error: function (x, t, m) {
            if (t === "timeout") {
                
            } else {
                
            }
        }
    });
}

$(document).on("click", ".btn-load-bitacora", function(e){
	e.preventDefault();
	loadBitacora( $(this).attr("data-id") );
});

$(document).on("click", ".btnGetFacturaActual", function(e){
	e.preventDefault();
	$("#facturaActual").val( $(this).attr("data-f") );
	$("#documentoActual").val( $(this).attr("data-id") );	
});

$(document).on("click", ".btnReenviarFactura", function(e){
	e.preventDefault();
	$("#claveFacturaActual").val( $(this).attr("data-clave") );

	$.ajax({
        type: "POST",
        cache: false,
        beforeSend: function () {
        	loadingShow();
        },
        url: "[(@{/fe-documentos/obtener-correo-cliente})]",
        data: {id: $(this).attr("data-cliente"), _csrf:token},
        success: function (data)
        {

        	$("#inputEmail").val(data.correo);
            
        }, complete: function () {
            loadingHide();
        }, error: function (x, t, m) {
            if (t === "timeout") {
                
            } else {
                
            }
        }
    });
	
	
});

$(document).on("submit", "#formAddNdNc", function(e){
	
	e.preventDefault();
	
	$.ajax({
        type: "POST",
        cache: false,
        beforeSend: function () {
        	$("#btnGeneraNcNd").prop("disabled", true);
        	loadingShow();
        },
        url: "[(@{/fe-documentos/emitir-nd-nc})]",
        data: $(this).serialize(),
        success: function (data)
        {

        	if(parseInt(data.response) === 200){
        		loadBitacora( $("#facturaActual").val() );
        		$("#formAddNdNc").trigger("reset");
        		swal("","Documento creado con éxito, refrescando...","success");
        		
        		setTimeout(function(){
 					location.reload();
       			}, 3000);
        		
        	
        	}else{
        		swal("","Algo no salio bien, contácte al administrador del sistema.","warning");
        	}
            
        }, complete: function () {
        	$("#btnGeneraNcNd").prop("disabled", false);
            loadingHide();
        }, error: function (x, t, m) {
            if (t === "timeout") {
                
            } else {
                
            }
        }
    });
});

$(document).on("click", "#btnConsultarEstados", function(e){
	
	e.preventDefault();
	
	$.ajax({
        type: "POST",
        cache: false,
        beforeSend: function () {
        	loadingShow();
        },
        url: "[(@{/fe-documentos/consultar-documentos})]",
        data: {_csrf:token},
        success: function (data)
        {

        	if(parseInt(data.response) === 200){
        		
        		swal({
				    text: "Se han consultado: "+data.docsConsultados+" documentos, pendientes por enviar al Ministerio de Hacienda: "+data.docsPendientes+".",
				    button: {
				        text: "Aceptar",
				      },
				      icon: "success",
				    closeModal: false
				}).then(function() {
				        swal.close();
				        location.reload();
				});
        		
        	}else{
        		swal("","Algo no salio bien, contácte al administrador del sistema.","warning");
        	}
            
        }, complete: function () {
            loadingHide();
        }, error: function (x, t, m) {
            if (t === "timeout") {
                
            } else {
                
            }
        }
    });
});

$(document).on("submit", "#formReenviarFactura", function(e){
	
	e.preventDefault();
	
	$.ajax({
        type: "POST",
        cache: false,
        beforeSend: function () {
        	loadingShow();
        },
        url: "[(@{/fe-documentos/reenviar-factura})]",
        data: $(this).serialize(),
        success: function (data)
        {
        	
        	if(parseInt(data.response) === 1){
        		swal("",data.msj,"success");
        	}else{
        		swal("",data.msj,"warning");
        	}
            
        }, complete: function () {
            loadingHide();
        }, error: function (x, t, m) {
            if (t === "timeout") {
                
            } else {
                
            }
        }
    });
});

$(document).on("click", ".btnAnularFactura", function(e){
	
	e.preventDefault();
		
	swal({
		  title: "Confirme para anular",
		  text: "Esta completamente seguro de anular este documento!",
		  icon: "warning",
		  buttons: true,
		  dangerMode: true,
		})
		.then((willDelete) => {
		  if (willDelete) {
			  $.ajax({
			        type: "POST",
			        cache: false,
			        beforeSend: function () {
			        	loadingShow();
			        },
			        url: "[(@{/fe-documentos/anular-documento})]",
			        data: {_csrf:token, id:$(this).attr("data-id")},
			        success: function (data)
			        {

			        	if(parseInt(data.response) === 200){
			        		
			        		swal({
							    text: "El documento ha sido anulado con éxito.",
							    button: {
							        text: "Aceptar",
							      },
							      icon: "success",
							    closeModal: false
							}).then(function() {
							        swal.close();
							        location.reload();
							});
			        		
			        	}else{
			        		swal("","Algo no salio bien, contácte al administrador del sistema.","warning");
			        	}
			            
			        }, complete: function () {
			            loadingHide();
			        }, error: function (x, t, m) {
			            if (t === "timeout") {
			                
			            } else {
			                
			            }
			        }
			    });	
		  } else {
		    swal("Proceso cancelado");
		  }
		});
		
		
		
		
		
	
});


</script>
</body>
</html>