<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" href="images/favicon-32x32.png" type="image/png" />
	<!-- loader-->
	<link href="css/pace.min.css" rel="stylesheet" />
	<script src="js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet"
		type="text/css">
	<link href="css/app.css" rel="stylesheet" type="text/css">
	<link href="css/icons.css" rel="stylesheet" type="text/css">
	<title>Samyx - Register</title>
</head>

<body class="bg-theme bg-theme1">
	<!--wrapper-->

	<div class="page-content">
		<div class="row">
			<div class="col-xl-7 mx-auto">
				<h6 class="mb-0 text-uppercase" th:text="#{txt.datos.del.usuario.a.registrar}"></h6>
				<hr />
				<div class="card border-top border-0 border-4 border-white">
					<div class="card-body p-5">
						<div class="card-title d-flex align-items-center">
							<div><i class="bx bxs-user me-1 font-22 text-white">Coloque todos los datos</i>
							</div>
							<h5 class="mb-0 text-white"></h5>
						</div>
						<hr>
						<form class="row g-3" id="formRegisterUser" autocomplete="off" th:action="@{/nuevo-registro}"
							th:object="${usuario}" method="post">
							<div class="col-md-6">
								<label class="form-label" th:text="#{txt.usuario.nombre}"></label>
								<input class="form-control" maxlength="255" type="text" placeholder="Digite su nombre"
									th:field="*{nombre}" required="required">
							</div>
							<div class="col-md-6">
								<label class="form-label" th:text="#{txt.usuario.apellido1}"></label>
								<input type="text" maxlength="255" class="form-control"
									placeholder="Digite su primier apellido" th:field="*{apellidoP}"
									required="required">
							</div>
							<div class="col-md-6">
								<label class="form-label" th:text="#{txt.usuario.apellido2}"></label>
								<input type="text" maxlength="255" class="form-control"
									placeholder="Digite su segundo apellido" th:field="*{apellidoM}"
									required="required">
							</div>
							<div class="col-md-6">
								<label class="form-label" th:text="#{txt.usuario.telefono}"></label>
								<input type="text" maxlength="8" class="form-control"
									placeholder="Digite su número de teléfono" th:field="*{telefono}"
									required="required">
							</div>
							<div class="col-md-6">
								<label class="form-label" th:text="#{txt.correo.electronico}"></label>
								<input type="text" maxlength="100" placeholder="corre@correo.com" class="form-control"
									th:field="*{email}" required="required">
							</div>
							<div class="col-md-6">
								<label class="form-label" th:text="#{txt.username}"></label>
								<input type="text" maxlength="30" placeholder="Digite su usuario" class="form-control"
									th:field="*{username}" required="required">
							</div>
							<div class="col-md-6">
								<label class="form-label" th:text="#{txt.usuario.password}"></label>
								<input type="password" maxlength="60" class="form-control"
									placeholder="Digite su contraseña" th:field="*{password}" required="required">
							</div>
							<div class="col-md-6">
								<label class="form-label" th:text="#{txt.usuario.password2}"></label>
								<input type="password" maxlength="60" name="password2"
									placeholder="Confirme la contraseña" class="form-control" id="password2"
									required="required">
							</div>
							<div class="col-12">
								<label class="form-label" th:text="#{txt.usuario.direccion}"></label>
								<input class="form-control" maxlength="255" th:field="*{direccion}"></input>
							</div>


							<div class="col-12">
								<input type="hidden" th:field="*{id}" />
								<button type="submit" class="btn btn-light px-5"><i class="fas fa-save"></i>&nbsp;<span
										th:text="#{btn.completar.registro}"></span></button>
								<a th:href="@{/catalogos/usuarios}" class="btn btn-regresar"
									style="color:#FFF !important">
									<i class="fas fa-chevron-left"></i>&nbsp; <span
										th:text="#{txt.btn-regresar}"></span>
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<input id="csrfToken" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<div th:replace="layout/layout :: scripts"></div>

	<!--plugins-->
	<script src="js/jquery/jquery.min.js"></script>
	<script src="js/main.js"></script>

	<script>
		var token = $('#csrfToken').val();

		$(document).ready(function () {
			$("#formRegisterUser").submit(function (event) {

				var p1 = $("#password").val();
				var p2 = $("#password2").val();

				if (p1 != p2) {
					swal("", "¡Las contraseñas no son iguales, verifíquelas!", "warning");
					return false;
				}

			});

			$(document).on("change", "#provincia", function (e) {

				e.preventDefault();

				$.ajax({
					type: "POST",
					cache: false,
					beforeSend: function () { },
					url: "[(@{/ubicacion/cantones})]",
					data: { id: $(this).val(), _csrf: token },
					success: function (data) {
						$("#canton").html(data);

						$('#canton').select2('open');

					}, complete: function () {
						//loading_hide();
					}, error: function (x, t, m) {
						if (t === "timeout") {

						} else {

						}
					}
				});

			});

			$(document).on("change", "#canton", function (e) {

				e.preventDefault();

				$.ajax({
					type: "POST",
					cache: false,
					beforeSend: function () { },
					url: "[(@{/ubicacion/distritos})]",
					data: { id: $(this).val(), _csrf: token },
					success: function (data) {
						$("#distrito").html(data);
						$('#distrito').select2('open');
					}, complete: function () {
						//loading_hide();
					}, error: function (x, t, m) {
						if (t === "timeout") {

						} else {

						}
					}
				});

			});

			$(document).on("change", "#distrito", function (e) {

				e.preventDefault();

				$.ajax({
					type: "POST",
					cache: false,
					beforeSend: function () { },
					url: "[(@{/ubicacion/barrios})]",
					data: { id: $(this).val(), _csrf: token },
					success: function (data) {
						$("#barrio").html(data);
						$('#barrio').select2('open');
					}, complete: function () {
						//loading_hide();
					}, error: function (x, t, m) {
						if (t === "timeout") {

						} else {

						}
					}
				});

			});


		});

	</script>
</body>

</html>